In [323]:
import pandas as pd

df = pd.read_csv('/Users/levinschily/Desktop/IRONHACK/Week3/Project2/World-happiness-report/2019.csv')
df.head(5)

df2 = pd.read_csv('/Users/levinschily/Desktop/IRONHACK/Week3/Project2/Economic-Freedom/economic_freedom_index2019_data.csv', encoding='latin1')
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [325]:
df2

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,...,Venezuela,31.4,$380.7,-14.0,-7.8,"$12,114",7.7,1087.5,-68.0,34.9
182,180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,...,Vietnam,93.6,$647.4,6.8,6.2,"$6,913",2.1,3.5,"14,100.0",58.2
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
184,182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,...,Zambia,17.2,$68.9,3.6,4.0,"$3,996",7.8,6.6,"1,091.2",62.2
185,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,...,Zimbabwe,14.9,$34.0,3.0,2.6,"$2,283",5.0,1.3,289.4,78.4

In [326]:
df2.duplicated().sum()
df2.isna().sum()

CountryID                      0
Country Name                   0
WEBNAME                        0
Region                         0
World Rank                     6
Region Rank                    6
2019 Score                     6
Property Rights                1
Judical Effectiveness          1
Government Integrity           1
Tax Burden                     6
Gov't Spending                 3
Fiscal Health                  3
Business Freedom               1
Labor Freedom                  2
Monetary Freedom               2
Trade Freedom                  4
Investment Freedom             2
Financial Freedom              5
Tariff Rate (%)                4
Income Tax Rate (%)            3
Corporate Tax Rate (%)         3
Tax Burden % of GDP            7
Gov't Expenditure % of GDP     4
Country                        0
Population (Millions)          0
GDP (Billions, PPP)            1
GDP Growth Rate (%)            2
5 Year GDP Growth Rate (%)     3
GDP per Capita (PPP)           2
Unemployment (%)               5
Inflation (%)                  4
FDI Inflow (Millions)          5
Public Debt (% of GDP)         4
dtype: int64

In [329]:
df.columns = ['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption']

df2.columns = ['CountryID', 'country_or_region', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2019 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', "Gov't Spending", 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', "Gov't Expenditure % of GDP", 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)']

In [331]:
merged_df = pd.merge(df, df2, on='country_or_region')
merged_df

,overall_rank,country_or_region,score,gdp_per_capita,social_support,Healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,CountryID,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,57,...,Finland,5.5,$244.0,3.0,0.8,"$44,333",8.6,0.8,"1,327.9",61.4
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,45,...,Denmark,5.7,$286.8,2.1,1.6,"$49,883",5.7,1.1,"-3,114.7",36.4
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,124,...,Norway,5.3,$380.0,1.8,1.6,"$71,831",4.2,1.9,"-8,296.9",36.7
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,73,...,Iceland,0.3,$17.6,3.6,4.4,"$51,842",2.8,1.8,-5.4,40.9
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,119,...,Netherlands,17.1,$916.1,3.1,1.8,"$53,635",4.8,1.3,"57,956.7",56.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,181,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
139,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,137,...,Rwanda,11.8,$24.6,6.1,6.7,"$2,080",1.3,4.8,366.2,40.6
140,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,162,...,Tanzania,50.0,$162.2,6.0,6.8,"$3,240",2.2,5.3,"1,180.4",38.2
141,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,1,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
142,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,31,...,Central African Republic,5.0,$3.4,4.0,-4.5,$677,6.0,3.8,17.2,53.4

In [333]:
merged_df = merged_df.drop(['Tax Burden','WEBNAME', 'Region', 'World Rank','Region Rank', '2019 Score', 'Property Rights','Tax Burden % of GDP', "Gov't Expenditure % of GDP", 'Country','5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)','Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)', 'Public Debt (% of GDP)'], axis=1)

In [335]:
merged_df.columns

Index(['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'CountryID', 'Judical Effectiveness',
       'Government Integrity', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)'],
      dtype='object')

In [337]:
merged_df = merged_df.drop(['Tariff Rate (%)', 'Income Tax Rate (%)', "GDP (Billions, PPP)", 'GDP Growth Rate (%)', 'Government Integrity', "Gov't Spending", 'Fiscal Health'], axis=1)
merged_df

,overall_rank,country_or_region,score,gdp_per_capita,social_support,Healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,CountryID,Judical Effectiveness,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Corporate Tax Rate (%),Population (Millions)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,57,81.2,89.4,50.3,84.8,86.0,85.0,80.0,20.0,5.5
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,45,77.8,90.7,86.4,84.1,86.0,90.0,80.0,23.5,5.7
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,124,81.2,89.4,53.7,75.4,83.2,75.0,60.0,23.0,5.3
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,73,63.8,88.4,64.1,81.7,87.0,85.0,70.0,20.0,0.3
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,119,74.7,81.4,60.3,84.0,86.0,90.0,80.0,25.0,17.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,181,22.2,45.1,49.8,61.5,71.4,50.0,NaN,NaN,30.0
139,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,137,83.2,56.2,82.2,76.1,70.4,60.0,40.0,30.0,11.8
140,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,162,41.4,46.6,66.2,70.4,67.8,55.0,50.0,30.0,50.0
141,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,1,29.6,49.2,60.4,76.7,66.0,10.0,10.0,20.0,35.5
142,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,31,29.6,24.2,40.1,72.3,51.0,45.0,30.0,30.0,5.0

In [339]:
merged_df.columns

Index(['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'CountryID', 'Judical Effectiveness',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Corporate Tax Rate (%)', 'Population (Millions)'],
      dtype='object')

In [341]:
merged_df.columns = ['overall_rank_happiness', 'country_name', 'happiness_score', 'gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'country_id', 'judicial_effectiveness',
       'business_freedom', 'labor_freedom', 'monetary_freedom',
       'trade_freedom', 'investment_freedom', 'financial_freedom',
       'corporate_tax_rate', 'population_millions']
merged_df.columns

Index(['overall_rank_happiness', 'country_name', 'happiness_score',
       'gdp_per_capita', 'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'country_id', 'judicial_effectiveness',
       'business_freedom', 'labor_freedom', 'monetary_freedom',
       'trade_freedom', 'investment_freedom', 'financial_freedom',
       'corporate_tax_rate', 'population_millions'],
      dtype='object')

In [343]:
def clean_all_columns(df):
    # Import numpy for NaN values
    import numpy as np
    
    # Loop through all columns in the dataframe
    for column in df.columns:
        # Convert column to string type
        df[column] = df[column].astype(str)
        # Strip whitespace and convert to uppercase
        df[column] = df[column].str.strip().str.upper()
        # Replace column name with NaN (assuming column names might be in the data)
        df[column] = df[column].replace(column.upper(), np.nan)
        # Also replace 'NAN' string with actual NaN value
        df[column] = df[column].replace('NAN', np.nan)
    
    return df

# Clean all columns
df = clean_all_columns(df)

# Example of checking unique values in a specific column
print(sorted(df['country_or_region'].dropna().unique()))

['AFGHANISTAN', 'ALBANIA', 'ALGERIA', 'ARGENTINA', 'ARMENIA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHRAIN', 'BANGLADESH', 'BELARUS', 'BELGIUM', 'BENIN', 'BHUTAN', 'BOLIVIA', 'BOSNIA AND HERZEGOVINA', 'BOTSWANA', 'BRAZIL', 'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'CAMBODIA', 'CAMEROON', 'CANADA', 'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHILE', 'CHINA', 'COLOMBIA', 'COMOROS', 'CONGO (BRAZZAVILLE)', 'CONGO (KINSHASA)', 'COSTA RICA', 'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EL SALVADOR', 'ESTONIA', 'ETHIOPIA', 'FINLAND', 'FRANCE', 'GABON', 'GAMBIA', 'GEORGIA', 'GERMANY', 'GHANA', 'GREECE', 'GUATEMALA', 'GUINEA', 'HAITI', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'INDONESIA', 'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'IVORY COAST', 'JAMAICA', 'JAPAN', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KOSOVO', 'KUWAIT', 'KYRGYZSTAN', 'LAOS', 'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA', 'LITHUANIA', 'LUXEMBOURG', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALI', 'MALTA', 'MAURITANIA', 'MAURITIUS', 'MEXICO', 'MOLDOVA', 'MONGOLIA', 'MONTENEGRO', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR', 'NAMIBIA', 'NEPAL', 'NETHERLANDS', 'NEW ZEALAND', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NORTH MACEDONIA', 'NORTHERN CYPRUS', 'NORWAY', 'PAKISTAN', 'PALESTINIAN TERRITORIES', 'PANAMA', 'PARAGUAY', 'PERU', 'PHILIPPINES', 'POLAND', 'PORTUGAL', 'QATAR', 'ROMANIA', 'RUSSIA', 'RWANDA', 'SAUDI ARABIA', 'SENEGAL', 'SERBIA', 'SIERRA LEONE', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH KOREA', 'SOUTH SUDAN', 'SPAIN', 'SRI LANKA', 'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN', 'TAJIKISTAN', 'TANZANIA', 'THAILAND', 'TOGO', 'TRINIDAD & TOBAGO', 'TUNISIA', 'TURKEY', 'TURKMENISTAN', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED KINGDOM', 'UNITED STATES', 'URUGUAY', 'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'YEMEN', 'ZAMBIA', 'ZIMBABWE']

In [345]:
print(sorted(df['overall_rank'].dropna().unique()))

['1', '10', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '11', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '12', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '13', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '14', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '15', '150', '151', '152', '153', '154', '155', '156', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '8', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [347]:
print(sorted(df['score'].dropna().unique()))

['2.853', '3.083', '3.203', '3.231', '3.334', '3.38', '3.41', '3.462', '3.488', '3.597', '3.663', '3.775', '3.802', '3.933', '3.973', '3.975', '4.015', '4.085', '4.107', '4.166', '4.189', '4.212', '4.286', '4.332', '4.35', '4.36', '4.366', '4.374', '4.39', '4.418', '4.437', '4.456', '4.461', '4.466', '4.49', '4.509', '4.516', '4.519', '4.534', '4.548', '4.559', '4.587', '4.628', '4.639', '4.668', '4.681', '4.696', '4.7', '4.707', '4.719', '4.722', '4.796', '4.799', '4.812', '4.883', '4.906', '4.913', '4.944', '4.996', '5.011', '5.044', '5.082', '5.175', '5.191', '5.192', '5.197', '5.208', '5.211', '5.247', '5.261', '5.265', '5.274', '5.285', '5.287', '5.323', '5.339', '5.373', '5.386', '5.425', '5.43', '5.432', '5.467', '5.523', '5.525', '5.529', '5.603', '5.631', '5.648', '5.653', '5.693', '5.697', '5.718', '5.743', '5.758', '5.779', '5.809', '5.86', '5.886', '5.888', '5.89', '5.893', '5.895', '5.94', '6.008', '6.021', '6.028', '6.046', '6.07', '6.086', '6.1', '6.105', '6.118', '6.125', '6.149', '6.174', '6.182', '6.192', '6.198', '6.199', '6.223', '6.253', '6.262', '6.293', '6.3', '6.321', '6.354', '6.374', '6.375', '6.436', '6.444', '6.446', '6.592', '6.595', '6.726', '6.825', '6.852', '6.892', '6.923', '6.985', '7.021', '7.054', '7.09', '7.139', '7.167', '7.228', '7.246', '7.278', '7.307', '7.343', '7.48', '7.488', '7.494', '7.554', '7.6', '7.769']

In [349]:

print(sorted(df['social_support'].dropna().unique()))

['0.0', '0.378', '0.437', '0.447', '0.517', '0.56', '0.572', '0.575', '0.666', '0.688', '0.698', '0.711', '0.757', '0.765', '0.766', '0.774', '0.782', '0.799', '0.808', '0.829', '0.841', '0.842', '0.848', '0.868', '0.885', '0.886', '0.91', '0.916', '0.922', '0.928', '0.939', '0.98', '0.983', '0.986', '1.0', '1.03', '1.033', '1.039', '1.055', '1.056', '1.058', '1.069', '1.098', '1.105', '1.111', '1.114', '1.122', '1.125', '1.134', '1.145', '1.147', '1.149', '1.156', '1.16', '1.163', '1.167', '1.169', '1.171', '1.181', '1.183', '1.203', '1.209', '1.212', '1.219', '1.223', '1.224', '1.225', '1.226', '1.232', '1.236', '1.242', '1.247', '1.252', '1.265', '1.266', '1.269', '1.274', '1.277', '1.293', '1.294', '1.303', '1.31', '1.312', '1.313', '1.319', '1.321', '1.323', '1.325', '1.328', '1.346', '1.351', '1.357', '1.36', '1.361', '1.368', '1.369', '1.383', '1.39', '1.401', '1.402', '1.409', '1.41', '1.419', '1.427', '1.43', '1.431', '1.432', '1.438', '1.439', '1.441', '1.442', '1.452', '1.454', '1.455', '1.457', '1.463', '1.465', '1.472', '1.475', '1.477', '1.478', '1.479', '1.484', '1.487', '1.488', '1.504', '1.505', '1.508', '1.513', '1.515', '1.52', '1.522', '1.523', '1.526', '1.528', '1.529', '1.531', '1.538', '1.548', '1.553', '1.557', '1.573', '1.582', '1.587', '1.624']

In [351]:
print(sorted(df['Healthy_life_expectancy'].dropna().unique()))

['0.0', '0.105', '0.168', '0.192', '0.232', '0.242', '0.245', '0.268', '0.295', '0.308', '0.331', '0.357', '0.361', '0.366', '0.375', '0.38', '0.39', '0.397', '0.41', '0.426', '0.428', '0.433', '0.44', '0.443', '0.449', '0.463', '0.469', '0.477', '0.486', '0.489', '0.495', '0.499', '0.505', '0.508', '0.532', '0.535', '0.538', '0.551', '0.555', '0.571', '0.574', '0.581', '0.588', '0.604', '0.614', '0.637', '0.644', '0.657', '0.66', '0.667', '0.672', '0.673', '0.677', '0.706', '0.713', '0.718', '0.723', '0.726', '0.729', '0.739', '0.746', '0.752', '0.756', '0.758', '0.769', '0.777', '0.779', '0.782', '0.785', '0.789', '0.795', '0.798', '0.802', '0.805', '0.808', '0.812', '0.815', '0.818', '0.825', '0.828', '0.831', '0.835', '0.838', '0.841', '0.845', '0.851', '0.854', '0.861', '0.868', '0.871', '0.874', '0.881', '0.884', '0.891', '0.893', '0.91', '0.914', '0.92', '0.953', '0.963', '0.986', '0.987', '0.996', '0.999', '1.009', '1.012', '1.016', '1.026', '1.028', '1.029', '1.036', '1.039', '1.042', '1.045', '1.052', '1.062', '1.088', '1.122', '1.141']

In [353]:
print(sorted(df['freedom_to_make_life_choices'].dropna().unique()))

['0.0', '0.01', '0.013', '0.026', '0.066', '0.067', '0.086', '0.142', '0.143', '0.148', '0.154', '0.159', '0.167', '0.174', '0.178', '0.195', '0.197', '0.199', '0.212', '0.216', '0.22', '0.225', '0.231', '0.235', '0.241', '0.245', '0.255', '0.264', '0.269', '0.282', '0.283', '0.291', '0.292', '0.293', '0.295', '0.296', '0.305', '0.309', '0.311', '0.313', '0.317', '0.318', '0.327', '0.332', '0.334', '0.344', '0.345', '0.346', '0.349', '0.351', '0.352', '0.356', '0.357', '0.359', '0.361', '0.362', '0.37', '0.371', '0.372', '0.381', '0.382', '0.383', '0.389', '0.39', '0.394', '0.401', '0.406', '0.41', '0.416', '0.417', '0.418', '0.426', '0.43', '0.431', '0.433', '0.435', '0.436', '0.439', '0.44', '0.443', '0.445', '0.45', '0.454', '0.455', '0.457', '0.462', '0.47', '0.471', '0.473', '0.483', '0.489', '0.49', '0.491', '0.493', '0.494', '0.495', '0.497', '0.498', '0.507', '0.508', '0.511', '0.514', '0.516', '0.521', '0.523', '0.525', '0.526', '0.527', '0.532', '0.535', '0.536', '0.543', '0.547', '0.555', '0.556', '0.557', '0.558', '0.559', '0.564', '0.572', '0.574', '0.584', '0.585', '0.591', '0.592', '0.596', '0.598', '0.603', '0.609', '0.631']

In [355]:
print(sorted(df['generosity'].dropna().unique()))

['0.0', '0.025', '0.035', '0.036', '0.043', '0.046', '0.047', '0.058', '0.059', '0.064', '0.066', '0.069', '0.07', '0.073', '0.074', '0.075', '0.076', '0.08', '0.081', '0.082', '0.083', '0.093', '0.094', '0.095', '0.099', '0.103', '0.105', '0.106', '0.107', '0.108', '0.109', '0.11', '0.111', '0.113', '0.117', '0.119', '0.121', '0.126', '0.127', '0.13', '0.133', '0.137', '0.142', '0.144', '0.146', '0.147', '0.148', '0.151', '0.153', '0.154', '0.158', '0.16', '0.166', '0.169', '0.175', '0.176', '0.177', '0.178', '0.181', '0.184', '0.185', '0.187', '0.188', '0.19', '0.191', '0.194', '0.197', '0.198', '0.2', '0.202', '0.207', '0.209', '0.212', '0.215', '0.217', '0.218', '0.22', '0.23', '0.232', '0.233', '0.235', '0.242', '0.243', '0.244', '0.245', '0.246', '0.247', '0.252', '0.255', '0.258', '0.26', '0.261', '0.262', '0.263', '0.266', '0.267', '0.269', '0.27', '0.271', '0.275', '0.276', '0.28', '0.285', '0.298', '0.3', '0.322', '0.33', '0.331', '0.332', '0.348', '0.354', '0.359', '0.37', '0.372', '0.375', '0.419', '0.498', '0.566']

In [357]:
print(sorted(df['perceptions_of_corruption'].dropna().unique()))

['0.0', '0.004', '0.005', '0.006', '0.01', '0.014', '0.016', '0.02', '0.022', '0.023', '0.024', '0.025', '0.027', '0.028', '0.03', '0.031', '0.033', '0.034', '0.035', '0.036', '0.037', '0.038', '0.039', '0.04', '0.041', '0.042', '0.045', '0.047', '0.05', '0.052', '0.053', '0.054', '0.055', '0.056', '0.057', '0.06', '0.062', '0.064', '0.066', '0.067', '0.072', '0.073', '0.074', '0.076', '0.077', '0.078', '0.079', '0.08', '0.082', '0.085', '0.086', '0.087', '0.088', '0.089', '0.09', '0.091', '0.093', '0.096', '0.097', '0.098', '0.1', '0.101', '0.102', '0.106', '0.107', '0.11', '0.113', '0.114', '0.118', '0.125', '0.127', '0.128', '0.13', '0.132', '0.135', '0.138', '0.14', '0.141', '0.142', '0.143', '0.144', '0.147', '0.15', '0.151', '0.152', '0.161', '0.162', '0.164', '0.167', '0.172', '0.18', '0.182', '0.183', '0.21', '0.226', '0.24', '0.265', '0.27', '0.278', '0.287', '0.29', '0.298', '0.308', '0.31', '0.316', '0.341', '0.343', '0.373', '0.38', '0.393', '0.41', '0.411', '0.453']

In [359]:

print(sorted(df2['Judical Effectiveness'].dropna().unique()))

[5.0, 10.0, 12.3, 13.1, 18.1, 18.7, 20.2, 22.2, 23.8, 24.4, 24.6, 24.8, 25.3, 26.6, 27.6, 27.9, 29.1, 29.6, 29.8, 30.0, 30.1, 30.6, 30.7, 31.0, 31.3, 31.5, 32.3, 32.6, 32.8, 33.4, 34.0, 34.3, 34.5, 34.7, 34.9, 35.2, 35.6, 36.2, 36.4, 37.2, 37.5, 37.9, 38.5, 39.0, 39.3, 39.4, 40.1, 40.2, 40.3, 40.4, 40.6, 40.9, 41.3, 41.4, 41.9, 42.5, 42.7, 42.9, 43.3, 44.0, 44.2, 44.5, 44.8, 45.1, 45.2, 45.7, 45.9, 46.3, 46.5, 46.9, 47.1, 47.6, 47.8, 48.1, 48.3, 48.4, 49.0, 49.2, 49.5, 49.8, 50.4, 50.7, 51.4, 51.6, 51.7, 51.8, 51.9, 52.1, 52.6, 53.1, 53.5, 54.0, 54.6, 54.7, 55.4, 56.0, 56.1, 56.3, 57.5, 58.9, 59.9, 60.0, 60.7, 61.2, 61.6, 62.1, 62.7, 63.8, 64.3, 66.1, 68.2, 68.4, 68.5, 69.4, 70.1, 71.3, 72.4, 73.4, 74.7, 75.2, 75.3, 75.4, 76.0, 77.8, 78.6, 81.2, 82.0, 83.2, 83.5, 84.0, 85.9, 86.5, 87.1, 92.4]

In [361]:
print(sorted(df2['Business Freedom'].dropna().unique()))

[5.0, 17.7, 20.0, 24.2, 28.1, 29.9, 30.0, 31.7, 33.4, 33.9, 35.9, 36.2, 37.6, 38.2, 40.2, 41.7, 41.9, 44.4, 44.9, 45.1, 46.3, 46.6, 47.3, 47.9, 48.3, 48.6, 49.2, 49.6, 49.7, 50.3, 50.4, 50.6, 50.9, 51.2, 51.6, 51.9, 52.1, 52.4, 52.8, 53.2, 53.3, 53.6, 53.8, 54.0, 54.1, 54.4, 54.6, 54.7, 55.7, 55.8, 56.0, 56.1, 56.2, 56.3, 56.4, 56.5, 56.9, 57.1, 57.2, 57.4, 57.9, 58.8, 59.2, 59.3, 60.0, 60.1, 60.5, 60.7, 61.0, 61.1, 61.3, 61.5, 61.6, 61.8, 61.9, 62.2, 62.4, 62.7, 63.0, 63.1, 63.3, 63.5, 64.3, 65.1, 65.2, 65.4, 65.8, 65.9, 66.0, 66.1, 66.8, 67.0, 67.1, 67.2, 67.3, 67.8, 68.5, 68.6, 68.7, 68.8, 69.3, 69.5, 69.8, 70.3, 70.7, 71.1, 71.2, 71.4, 71.7, 72.3, 72.4, 72.5, 72.9, 73.3, 73.4, 73.6, 73.8, 73.9, 74.1, 74.3, 74.9, 75.0, 75.1, 75.2, 75.3, 75.4, 76.3, 76.5, 76.6, 76.7, 76.9, 77.0, 77.5, 78.0, 78.1, 78.3, 78.4, 79.3, 79.7, 79.8, 79.9, 80.2, 80.5, 81.2, 81.4, 81.9, 82.5, 83.1, 83.3, 83.8, 83.9, 85.8, 88.0, 88.3, 88.4, 89.4, 90.7, 90.8, 91.0, 91.3, 92.9, 93.2, 96.4]

In [363]:
print(sorted(df2['Labor Freedom'].dropna().unique()))

[5.0, 20.0, 28.0, 29.2, 29.3, 32.0, 32.7, 33.1, 35.8, 38.3, 39.0, 39.4, 40.1, 41.8, 41.9, 42.0, 42.7, 43.2, 43.3, 43.4, 44.0, 44.3, 44.6, 45.2, 45.9, 46.0, 46.5, 46.7, 46.9, 47.8, 47.9, 48.2, 48.7, 49.2, 49.3, 49.8, 49.9, 50.0, 50.3, 50.7, 51.1, 51.3, 51.5, 51.6, 51.9, 52.2, 52.3, 52.5, 52.7, 52.8, 52.9, 53.0, 53.1, 53.4, 53.7, 53.8, 53.9, 54.8, 54.9, 55.2, 55.7, 55.8, 57.2, 57.3, 57.4, 57.6, 57.8, 57.9, 58.0, 58.2, 58.6, 58.7, 58.8, 59.0, 59.1, 59.5, 59.9, 60.1, 60.3, 60.4, 60.8, 60.9, 61.0, 61.2, 61.3, 61.7, 62.0, 62.6, 62.8, 63.0, 63.2, 63.3, 63.4, 63.5, 63.6, 63.9, 64.0, 64.1, 64.2, 64.5, 64.7, 64.9, 65.0, 65.1, 65.7, 65.9, 66.2, 67.0, 67.4, 67.5, 68.2, 68.4, 68.7, 69.2, 69.9, 70.0, 70.8, 71.1, 71.4, 71.5, 71.9, 72.0, 72.5, 72.6, 72.9, 73.3, 73.4, 73.5, 73.6, 73.7, 74.4, 75.0, 75.3, 75.6, 76.6, 78.1, 78.2, 78.5, 79.0, 79.5, 79.8, 81.1, 82.2, 83.2, 83.3, 84.1, 85.1, 86.2, 86.4, 86.7, 89.2, 89.4, 90.8, 91.0]

In [365]:
print(sorted(df2['Monetary Freedom'].dropna().unique()))

[0.0, 48.3, 49.1, 52.8, 55.4, 56.0, 56.9, 58.6, 58.9, 60.1, 60.2, 60.8, 61.0, 61.5, 62.2, 62.3, 62.4, 63.0, 65.0, 65.1, 65.4, 65.5, 65.6, 66.3, 66.4, 66.5, 67.0, 68.5, 68.8, 68.9, 69.4, 69.6, 69.9, 70.0, 70.1, 70.3, 70.4, 70.5, 70.6, 70.9, 71.9, 72.3, 72.4, 72.6, 72.7, 72.8, 72.9, 73.0, 73.4, 73.5, 73.7, 74.2, 74.4, 74.9, 75.0, 75.1, 75.2, 75.4, 75.5, 75.6, 75.9, 76.0, 76.1, 76.5, 76.6, 76.7, 76.9, 77.0, 77.2, 77.4, 77.7, 77.8, 77.9, 78.1, 78.2, 78.3, 78.4, 78.5, 78.6, 78.7, 78.8, 79.0, 79.1, 79.4, 79.5, 79.6, 79.7, 80.0, 80.1, 80.9, 81.0, 81.1, 81.2, 81.4, 81.5, 81.6, 81.7, 81.8, 82.0, 82.1, 82.2, 82.3, 82.6, 82.7, 82.8, 83.0, 83.1, 83.2, 83.5, 83.6, 83.7, 83.9, 84.0, 84.1, 84.4, 84.5, 84.6, 84.8, 85.0, 85.2, 85.3, 85.7, 85.8, 85.9, 86.0, 86.2, 86.4, 86.6, 87.0, 87.5, 88.0]

In [367]:
print(sorted(df2['Trade Freedom'].dropna().unique()))

[0.0, 45.0, 47.0, 47.2, 47.8, 48.8, 50.4, 51.0, 51.2, 53.2, 53.4, 54.6, 55.6, 56.6, 56.8, 60.0, 60.1, 60.4, 60.8, 61.2, 61.6, 61.8, 62.4, 62.6, 62.8, 63.2, 63.4, 63.6, 63.8, 64.0, 64.2, 64.4, 64.6, 64.8, 65.2, 65.4, 65.8, 66.0, 66.4, 66.6, 66.8, 67.4, 67.8, 68.2, 68.4, 69.0, 69.2, 69.4, 69.8, 70.0, 70.4, 70.8, 71.4, 71.8, 72.0, 72.4, 72.6, 73.0, 73.2, 73.6, 74.6, 75.0, 75.4, 75.8, 76.0, 76.2, 76.4, 76.6, 77.0, 77.4, 77.8, 78.0, 78.2, 78.6, 79.0, 79.2, 79.4, 79.6, 79.8, 80.0, 80.4, 80.6, 80.8, 80.9, 81.0, 81.4, 81.8, 82.0, 82.2, 82.6, 83.0, 83.2, 83.8, 84.0, 84.4, 84.7, 86.0, 86.4, 86.6, 86.8, 87.0, 87.4, 87.6, 87.8, 88.4, 88.6, 88.8, 90.0, 92.4, 94.8, 95.0]

In [369]:
print(sorted(df2['Investment Freedom '].dropna().unique()))

[0.0, 5.0, 10.0, 15.0, 20.0, 25.0, 30.0, 35.0, 40.0, 45.0, 50.0, 55.0, 60.0, 65.0, 70.0, 75.0, 80.0, 85.0, 90.0, 95.0]

In [371]:
print(sorted(df2['Financial Freedom'].dropna().unique()))

[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0]

In [373]:
print(sorted(df2['Corporate Tax Rate (%)'].dropna().unique()))

[0.0, 2.5, 7.5, 8.0, 9.0, 10.0, 12.0, 12.5, 15.0, 15.8, 16.0, 16.5, 17.0, 18.0, 18.5, 19.0, 20.0, 21.0, 22.0, 23.0, 23.5, 23.9, 24.0, 25.0, 27.0, 27.5, 28.0, 29.0, 30.0, 31.0, 32.0, 32.4, 33.0, 34.0, 35.0, 36.0, 39.0, 40.0, 45.0, 50.0]

In [375]:
print(sorted(df2['Population (Millions)'].dropna().unique()))

['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '0.9', '1.0', '1.1', '1.2', '1.3', '1.4', '1.5', '1.7', '1.9', '10.1', '10.2', '10.3', '10.6', '10.8', '10.9', '105.3', '11.0', '11.1', '11.4', '11.5', '11.8', '12.2', '123.5', '126.7', '13.0', '1316.9', '1390.1', '14.3', '14.9', '144.0', '15.9', '16.0', '16.8', '16.9', '163.2', '17.1', '17.2', '18.2', '18.4', '18.8', '18.9', '188.7', '19.2', '19.6', '197.3', '2.0', '2.1', '2.2', '2.3', '2.7', '2.8', '2.9', '207.7', '21.4', '23.6', '24.3', '24.8', '25.0', '25.4', '25.6', '262.0', '28.2', '28.3', '29.3', '29.5', '3.0', '3.1', '3.5', '3.7', '3.9', '30.0', '31.4', '31.8', '32.1', '32.4', '325.9', '34.9', '35.5', '36.7', '37.7', '38,000 ppl.', '38.0', '38.9', '4.1', '4.3', '4.4', '4.5', '4.7', '4.8', '40.8', '41.5', '42.3', '44.1', '46.3', '46.7', '49.3', '5.0', '5.3', '5.4', '5.5', '5.6', '5.7', '5.9', '50.0', '51.5', '52.6', '56.5', '6.2', '6.3', '6.4', '6.7', '60.6', '64.8', '66.1', '69.1', '7.0', '7.1', '7.4', '7.8', '8.3', '8.4', '8.7', '8.8', '80.8', '81.4', '82.7', '86.7', '9.5', '9.8', '92.7', '93.6', '94.8']

In [378]:
df['country_or_region'].head()

0        FINLAND
1        DENMARK
2         NORWAY
3        ICELAND
4    NETHERLANDS
Name: country_or_region, dtype: object

In [380]:
df['country_or_region'].tail()

151                      RWANDA
152                    TANZANIA
153                 AFGHANISTAN
154    CENTRAL AFRICAN REPUBLIC
155                 SOUTH SUDAN
Name: country_or_region, dtype: object

In [382]:
merged_df = merged_df.dropna()

merged_df

,overall_rank_happiness,country_name,happiness_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,country_id,judicial_effectiveness,business_freedom,labor_freedom,monetary_freedom,trade_freedom,investment_freedom,financial_freedom,corporate_tax_rate,population_millions
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,57,81.2,89.4,50.3,84.8,86.0,85.0,80.0,20.0,5.5
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,45,77.8,90.7,86.4,84.1,86.0,90.0,80.0,23.5,5.7
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,124,81.2,89.4,53.7,75.4,83.2,75.0,60.0,23.0,5.3
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,73,63.8,88.4,64.1,81.7,87.0,85.0,70.0,20.0,0.3
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,119,74.7,81.4,60.3,84.0,86.0,90.0,80.0,25.0,17.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089,103,40.1,41.7,64.0,65.5,75.4,50.0,50.0,30.0,19.2
139,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,137,83.2,56.2,82.2,76.1,70.4,60.0,40.0,30.0,11.8
140,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,162,41.4,46.6,66.2,70.4,67.8,55.0,50.0,30.0,50.0
141,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,1,29.6,49.2,60.4,76.7,66.0,10.0,10.0,20.0,35.5
142,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,31,29.6,24.2,40.1,72.3,51.0,45.0,30.0,30.0,5.0

In [384]:
import pandas as pd

with pd.option_context('display.max_rows', None):
    display(merged_df["country_name"])

0                       Finland
1                       Denmark
2                        Norway
3                       Iceland
4                   Netherlands
5                   Switzerland
6                        Sweden
7                   New Zealand
8                        Canada
9                       Austria
10                    Australia
11                   Costa Rica
12                       Israel
13                   Luxembourg
14               United Kingdom
15                      Ireland
16                      Germany
17                      Belgium
18                United States
19               Czech Republic
20         United Arab Emirates
21                        Malta
22                       Mexico
23                       France
24                        Chile
25                    Guatemala
26                 Saudi Arabia
27                        Qatar
28                        Spain
29                       Panama
30                       Brazil
31                      Uruguay
32                    Singapore
33                  El Salvador
34                        Italy
35                      Bahrain
36                     Slovakia
37                       Poland
38                   Uzbekistan
39                    Lithuania
40                     Colombia
41                     Slovenia
42                    Nicaragua
43                       Kosovo
44                    Argentina
45                      Romania
46                       Cyprus
47                      Ecuador
48                       Kuwait
49                     Thailand
50                       Latvia
51                      Estonia
52                      Jamaica
53                    Mauritius
54                        Japan
55                     Honduras
56                   Kazakhstan
57                      Bolivia
58                      Hungary
59                     Paraguay
60                         Peru
61                     Portugal
62                     Pakistan
63                       Russia
64                  Philippines
65                       Serbia
66                      Moldova
68                   Montenegro
69                   Tajikistan
70                      Croatia
71                    Hong Kong
72           Dominican Republic
73       Bosnia and Herzegovina
74                       Turkey
75                     Malaysia
76                      Belarus
77                       Greece
78                     Mongolia
79                      Nigeria
80                 Turkmenistan
81                      Algeria
82                      Morocco
83                   Azerbaijan
84                      Lebanon
85                    Indonesia
86                        China
87                      Vietnam
88                       Bhutan
89                     Cameroon
90                     Bulgaria
91                        Ghana
92                        Nepal
93                       Jordan
94                        Benin
95                        Gabon
96                         Laos
97                 South Africa
98                      Albania
99                    Venezuela
100                    Cambodia
101                     Senegal
103                     Namibia
104                       Niger
105                Burkina Faso
106                     Armenia
107                        Iran
108                      Guinea
109                     Georgia
110                      Gambia
111                       Kenya
112                  Mauritania
113                  Mozambique
114                     Tunisia
115                  Bangladesh
117                        Mali
118                Sierra Leone
119                   Sri Lanka
120                        Chad
121                     Ukraine
122                    Ethiopia
123                      Uganda
124                       Egypt
125                      Zambia
126                        Togo
127                       India
128                     Liberia
129                     Comoros
130                  Madagascar
131                     Lesotho
132                     Burundi
133                    Zimbabwe
134                       Haiti
135                    Botswana
137                      Malawi
139                      Rwanda
140                    Tanzania
141                 Afghanistan
142    Central African Republic
Name: country_name, dtype: object

In [386]:
merged_df.to_csv('project_data.csv', index=False)