In [35]:
import pandas as pd

df = pd.read_csv('2019.csv')
df.head(5)

df2 = pd.read_csv('economic_freedom_index2019_data.csv', encoding='latin1')
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [36]:
df2

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,$36.0,3.9,2.5,"$12,507",13.9,2.0,"1,119.1",71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,$632.9,2.0,3.1,"$15,237",10.0,5.6,"1,203.0",25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,$190.3,0.7,2.9,"$6,753",8.2,31.7,"-2,254.5",65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,$920.2,2.9,0.7,"$20,876",8.7,25.7,"11,857.0",52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,179,Venezuela,Venezuela,Americas,179.0,32.0,25.9,7.6,13.1,7.9,...,Venezuela,31.4,$380.7,-14.0,-7.8,"$12,114",7.7,1087.5,-68.0,34.9
182,180,Vietnam,Vietnam,Asia-Pacific,128.0,30.0,55.3,49.8,40.3,34.0,...,Vietnam,93.6,$647.4,6.8,6.2,"$6,913",2.1,3.5,"14,100.0",58.2
183,181,Yemen,Yemen,Middle East and North Africa,NaN,NaN,NaN,19.6,22.2,20.3,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
184,182,Zambia,Zambia,Sub-Saharan Africa,138.0,27.0,53.6,45.0,35.6,32.3,...,Zambia,17.2,$68.9,3.6,4.0,"$3,996",7.8,6.6,"1,091.2",62.2
185,183,Zimbabwe,Zimbabwe,Sub-Saharan Africa,175.0,45.0,40.4,29.7,24.8,15.8,...,Zimbabwe,14.9,$34.0,3.0,2.6,"$2,283",5.0,1.3,289.4,78.4

In [37]:
df2.duplicated().sum()
df2.isna().sum()

CountryID                      0
Country Name                   0
WEBNAME                        0
Region                         0
World Rank                     6
Region Rank                    6
2019 Score                     6
Property Rights                1
Judical Effectiveness          1
Government Integrity           1
Tax Burden                     6
Gov't Spending                 3
Fiscal Health                  3
Business Freedom               1
Labor Freedom                  2
Monetary Freedom               2
Trade Freedom                  4
Investment Freedom             2
Financial Freedom              5
Tariff Rate (%)                4
Income Tax Rate (%)            3
Corporate Tax Rate (%)         3
Tax Burden % of GDP            7
Gov't Expenditure % of GDP     4
Country                        0
Population (Millions)          0
GDP (Billions, PPP)            1
GDP Growth Rate (%)            2
5 Year GDP Growth Rate (%)     3
GDP per Capita (PPP)           2
Unemployment (%)               5
Inflation (%)                  4
FDI Inflow (Millions)          5
Public Debt (% of GDP)         4
dtype: int64

In [38]:
df.columns = ['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption']

df2.columns = ['CountryID', 'country_or_region', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2019 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', "Gov't Spending", 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', "Gov't Expenditure % of GDP", 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)']

In [39]:
merged_df = pd.merge(df, df2, on='country_or_region')
merged_df

,overall_rank,country_or_region,score,gdp_per_capita,social_support,Healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,CountryID,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,57,...,Finland,5.5,$244.0,3.0,0.8,"$44,333",8.6,0.8,"1,327.9",61.4
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,45,...,Denmark,5.7,$286.8,2.1,1.6,"$49,883",5.7,1.1,"-3,114.7",36.4
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,124,...,Norway,5.3,$380.0,1.8,1.6,"$71,831",4.2,1.9,"-8,296.9",36.7
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,73,...,Iceland,0.3,$17.6,3.6,4.4,"$51,842",2.8,1.8,-5.4,40.9
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,119,...,Netherlands,17.1,$916.1,3.1,1.8,"$53,635",4.8,1.3,"57,956.7",56.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,181,...,Yemen,30.0,$38.6,-13.8,-16.1,"$1,287",14.0,4.9,-269.9,141.0
139,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,137,...,Rwanda,11.8,$24.6,6.1,6.7,"$2,080",1.3,4.8,366.2,40.6
140,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,162,...,Tanzania,50.0,$162.2,6.0,6.8,"$3,240",2.2,5.3,"1,180.4",38.2
141,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,1,...,Afghanistan,35.5,$69.6,2.5,2.9,"$1,958",8.8,5.0,53.9,7.3
142,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,31,...,Central African Republic,5.0,$3.4,4.0,-4.5,$677,6.0,3.8,17.2,53.4

In [40]:
merged_df = merged_df.drop(['CountryID', 'Tax Burden','WEBNAME', 'Region', 'World Rank','Region Rank', '2019 Score', 'Property Rights','Tax Burden % of GDP', "Gov't Expenditure % of GDP", 'Country','5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)','Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)', 'Public Debt (% of GDP)'], axis=1)

In [41]:
merged_df.columns

Index(['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'Judical Effectiveness',
       'Government Integrity', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)'],
      dtype='object')

In [42]:
merged_df = merged_df.drop(['Tariff Rate (%)', 'Income Tax Rate (%)', "GDP (Billions, PPP)", 'GDP Growth Rate (%)', 'Government Integrity', "Gov't Spending", 'Fiscal Health'], axis=1)
merged_df

,overall_rank,country_or_region,score,gdp_per_capita,social_support,Healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption,Judical Effectiveness,Business Freedom,Labor Freedom,Monetary Freedom,Trade Freedom,Investment Freedom,Financial Freedom,Corporate Tax Rate (%),Population (Millions)
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,81.2,89.4,50.3,84.8,86.0,85.0,80.0,20.0,5.5
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,77.8,90.7,86.4,84.1,86.0,90.0,80.0,23.5,5.7
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,81.2,89.4,53.7,75.4,83.2,75.0,60.0,23.0,5.3
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,63.8,88.4,64.1,81.7,87.0,85.0,70.0,20.0,0.3
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,74.7,81.4,60.3,84.0,86.0,90.0,80.0,25.0,17.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077,22.2,45.1,49.8,61.5,71.4,50.0,NaN,NaN,30.0
139,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,83.2,56.2,82.2,76.1,70.4,60.0,40.0,30.0,11.8
140,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,41.4,46.6,66.2,70.4,67.8,55.0,50.0,30.0,50.0
141,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,29.6,49.2,60.4,76.7,66.0,10.0,10.0,20.0,35.5
142,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,29.6,24.2,40.1,72.3,51.0,45.0,30.0,30.0,5.0

In [43]:
merged_df.columns

Index(['overall_rank', 'country_or_region', 'score', 'gdp_per_capita',
       'social_support', 'Healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption', 'Judical Effectiveness',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Corporate Tax Rate (%)', 'Population (Millions)'],
      dtype='object')

In [44]:
def clean_all_columns(df):
    # Import numpy for NaN values
    import numpy as np
    
    # Loop through all columns in the dataframe
    for column in df.columns:
        # Convert column to string type
        df[column] = df[column].astype(str)
        # Strip whitespace and convert to uppercase
        df[column] = df[column].str.strip().str.upper()
        # Replace column name with NaN (assuming column names might be in the data)
        df[column] = df[column].replace(column.upper(), np.nan)
        # Also replace 'NAN' string with actual NaN value
        df[column] = df[column].replace('NAN', np.nan)
    
    return df

# Clean all columns
df = clean_all_columns(df)

# Example of checking unique values in a specific column
print(sorted(df['country_or_region'].dropna().unique()))

['AFGHANISTAN', 'ALBANIA', 'ALGERIA', 'ARGENTINA', 'ARMENIA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHRAIN', 'BANGLADESH', 'BELARUS', 'BELGIUM', 'BENIN', 'BHUTAN', 'BOLIVIA', 'BOSNIA AND HERZEGOVINA', 'BOTSWANA', 'BRAZIL', 'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'CAMBODIA', 'CAMEROON', 'CANADA', 'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHILE', 'CHINA', 'COLOMBIA', 'COMOROS', 'CONGO (BRAZZAVILLE)', 'CONGO (KINSHASA)', 'COSTA RICA', 'CROATIA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DOMINICAN REPUBLIC', 'ECUADOR', 'EGYPT', 'EL SALVADOR', 'ESTONIA', 'ETHIOPIA', 'FINLAND', 'FRANCE', 'GABON', 'GAMBIA', 'GEORGIA', 'GERMANY', 'GHANA', 'GREECE', 'GUATEMALA', 'GUINEA', 'HAITI', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'INDONESIA', 'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'IVORY COAST', 'JAMAICA', 'JAPAN', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KOSOVO', 'KUWAIT', 'KYRGYZSTAN', 'LAOS', 'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA', 'LITHUANIA', 'LUXEMBOURG', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALI', 'MALTA', 'MAURITANIA', 'MAURITIUS', 'MEXICO', 'MOLDOVA', 'MONGOLIA', 'MONTENEGRO', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR', 'NAMIBIA', 'NEPAL', 'NETHERLANDS', 'NEW ZEALAND', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NORTH MACEDONIA', 'NORTHERN CYPRUS', 'NORWAY', 'PAKISTAN', 'PALESTINIAN TERRITORIES', 'PANAMA', 'PARAGUAY', 'PERU', 'PHILIPPINES', 'POLAND', 'PORTUGAL', 'QATAR', 'ROMANIA', 'RUSSIA', 'RWANDA', 'SAUDI ARABIA', 'SENEGAL', 'SERBIA', 'SIERRA LEONE', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH KOREA', 'SOUTH SUDAN', 'SPAIN', 'SRI LANKA', 'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN', 'TAJIKISTAN', 'TANZANIA', 'THAILAND', 'TOGO', 'TRINIDAD & TOBAGO', 'TUNISIA', 'TURKEY', 'TURKMENISTAN', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED KINGDOM', 'UNITED STATES', 'URUGUAY', 'UZBEKISTAN', 'VENEZUELA', 'VIETNAM', 'YEMEN', 'ZAMBIA', 'ZIMBABWE']

In [45]:
print(sorted(df['overall_rank'].dropna().unique()))

['1', '10', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '11', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '12', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '13', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '14', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '15', '150', '151', '152', '153', '154', '155', '156', '16', '17', '18', '19', '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '4', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '5', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '6', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '7', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '8', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '9', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99']

In [46]:
print(sorted(df['score'].dropna().unique()))

['2.853', '3.083', '3.203', '3.231', '3.334', '3.38', '3.41', '3.462', '3.488', '3.597', '3.663', '3.775', '3.802', '3.933', '3.973', '3.975', '4.015', '4.085', '4.107', '4.166', '4.189', '4.212', '4.286', '4.332', '4.35', '4.36', '4.366', '4.374', '4.39', '4.418', '4.437', '4.456', '4.461', '4.466', '4.49', '4.509', '4.516', '4.519', '4.534', '4.548', '4.559', '4.587', '4.628', '4.639', '4.668', '4.681', '4.696', '4.7', '4.707', '4.719', '4.722', '4.796', '4.799', '4.812', '4.883', '4.906', '4.913', '4.944', '4.996', '5.011', '5.044', '5.082', '5.175', '5.191', '5.192', '5.197', '5.208', '5.211', '5.247', '5.261', '5.265', '5.274', '5.285', '5.287', '5.323', '5.339', '5.373', '5.386', '5.425', '5.43', '5.432', '5.467', '5.523', '5.525', '5.529', '5.603', '5.631', '5.648', '5.653', '5.693', '5.697', '5.718', '5.743', '5.758', '5.779', '5.809', '5.86', '5.886', '5.888', '5.89', '5.893', '5.895', '5.94', '6.008', '6.021', '6.028', '6.046', '6.07', '6.086', '6.1', '6.105', '6.118', '6.125', '6.149', '6.174', '6.182', '6.192', '6.198', '6.199', '6.223', '6.253', '6.262', '6.293', '6.3', '6.321', '6.354', '6.374', '6.375', '6.436', '6.444', '6.446', '6.592', '6.595', '6.726', '6.825', '6.852', '6.892', '6.923', '6.985', '7.021', '7.054', '7.09', '7.139', '7.167', '7.228', '7.246', '7.278', '7.307', '7.343', '7.48', '7.488', '7.494', '7.554', '7.6', '7.769']

In [47]:

print(sorted(df['social_support'].dropna().unique()))

['0.0', '0.378', '0.437', '0.447', '0.517', '0.56', '0.572', '0.575', '0.666', '0.688', '0.698', '0.711', '0.757', '0.765', '0.766', '0.774', '0.782', '0.799', '0.808', '0.829', '0.841', '0.842', '0.848', '0.868', '0.885', '0.886', '0.91', '0.916', '0.922', '0.928', '0.939', '0.98', '0.983', '0.986', '1.0', '1.03', '1.033', '1.039', '1.055', '1.056', '1.058', '1.069', '1.098', '1.105', '1.111', '1.114', '1.122', '1.125', '1.134', '1.145', '1.147', '1.149', '1.156', '1.16', '1.163', '1.167', '1.169', '1.171', '1.181', '1.183', '1.203', '1.209', '1.212', '1.219', '1.223', '1.224', '1.225', '1.226', '1.232', '1.236', '1.242', '1.247', '1.252', '1.265', '1.266', '1.269', '1.274', '1.277', '1.293', '1.294', '1.303', '1.31', '1.312', '1.313', '1.319', '1.321', '1.323', '1.325', '1.328', '1.346', '1.351', '1.357', '1.36', '1.361', '1.368', '1.369', '1.383', '1.39', '1.401', '1.402', '1.409', '1.41', '1.419', '1.427', '1.43', '1.431', '1.432', '1.438', '1.439', '1.441', '1.442', '1.452', '1.454', '1.455', '1.457', '1.463', '1.465', '1.472', '1.475', '1.477', '1.478', '1.479', '1.484', '1.487', '1.488', '1.504', '1.505', '1.508', '1.513', '1.515', '1.52', '1.522', '1.523', '1.526', '1.528', '1.529', '1.531', '1.538', '1.548', '1.553', '1.557', '1.573', '1.582', '1.587', '1.624']

In [48]:
print(sorted(df['Healthy_life_expectancy'].dropna().unique()))

['0.0', '0.105', '0.168', '0.192', '0.232', '0.242', '0.245', '0.268', '0.295', '0.308', '0.331', '0.357', '0.361', '0.366', '0.375', '0.38', '0.39', '0.397', '0.41', '0.426', '0.428', '0.433', '0.44', '0.443', '0.449', '0.463', '0.469', '0.477', '0.486', '0.489', '0.495', '0.499', '0.505', '0.508', '0.532', '0.535', '0.538', '0.551', '0.555', '0.571', '0.574', '0.581', '0.588', '0.604', '0.614', '0.637', '0.644', '0.657', '0.66', '0.667', '0.672', '0.673', '0.677', '0.706', '0.713', '0.718', '0.723', '0.726', '0.729', '0.739', '0.746', '0.752', '0.756', '0.758', '0.769', '0.777', '0.779', '0.782', '0.785', '0.789', '0.795', '0.798', '0.802', '0.805', '0.808', '0.812', '0.815', '0.818', '0.825', '0.828', '0.831', '0.835', '0.838', '0.841', '0.845', '0.851', '0.854', '0.861', '0.868', '0.871', '0.874', '0.881', '0.884', '0.891', '0.893', '0.91', '0.914', '0.92', '0.953', '0.963', '0.986', '0.987', '0.996', '0.999', '1.009', '1.012', '1.016', '1.026', '1.028', '1.029', '1.036', '1.039', '1.042', '1.045', '1.052', '1.062', '1.088', '1.122', '1.141']

In [49]:
print(sorted(df['freedom_to_make_life_choices'].dropna().unique()))

['0.0', '0.01', '0.013', '0.026', '0.066', '0.067', '0.086', '0.142', '0.143', '0.148', '0.154', '0.159', '0.167', '0.174', '0.178', '0.195', '0.197', '0.199', '0.212', '0.216', '0.22', '0.225', '0.231', '0.235', '0.241', '0.245', '0.255', '0.264', '0.269', '0.282', '0.283', '0.291', '0.292', '0.293', '0.295', '0.296', '0.305', '0.309', '0.311', '0.313', '0.317', '0.318', '0.327', '0.332', '0.334', '0.344', '0.345', '0.346', '0.349', '0.351', '0.352', '0.356', '0.357', '0.359', '0.361', '0.362', '0.37', '0.371', '0.372', '0.381', '0.382', '0.383', '0.389', '0.39', '0.394', '0.401', '0.406', '0.41', '0.416', '0.417', '0.418', '0.426', '0.43', '0.431', '0.433', '0.435', '0.436', '0.439', '0.44', '0.443', '0.445', '0.45', '0.454', '0.455', '0.457', '0.462', '0.47', '0.471', '0.473', '0.483', '0.489', '0.49', '0.491', '0.493', '0.494', '0.495', '0.497', '0.498', '0.507', '0.508', '0.511', '0.514', '0.516', '0.521', '0.523', '0.525', '0.526', '0.527', '0.532', '0.535', '0.536', '0.543', '0.547', '0.555', '0.556', '0.557', '0.558', '0.559', '0.564', '0.572', '0.574', '0.584', '0.585', '0.591', '0.592', '0.596', '0.598', '0.603', '0.609', '0.631']

In [50]:
print(sorted(df['generosity'].dropna().unique()))

['0.0', '0.025', '0.035', '0.036', '0.043', '0.046', '0.047', '0.058', '0.059', '0.064', '0.066', '0.069', '0.07', '0.073', '0.074', '0.075', '0.076', '0.08', '0.081', '0.082', '0.083', '0.093', '0.094', '0.095', '0.099', '0.103', '0.105', '0.106', '0.107', '0.108', '0.109', '0.11', '0.111', '0.113', '0.117', '0.119', '0.121', '0.126', '0.127', '0.13', '0.133', '0.137', '0.142', '0.144', '0.146', '0.147', '0.148', '0.151', '0.153', '0.154', '0.158', '0.16', '0.166', '0.169', '0.175', '0.176', '0.177', '0.178', '0.181', '0.184', '0.185', '0.187', '0.188', '0.19', '0.191', '0.194', '0.197', '0.198', '0.2', '0.202', '0.207', '0.209', '0.212', '0.215', '0.217', '0.218', '0.22', '0.23', '0.232', '0.233', '0.235', '0.242', '0.243', '0.244', '0.245', '0.246', '0.247', '0.252', '0.255', '0.258', '0.26', '0.261', '0.262', '0.263', '0.266', '0.267', '0.269', '0.27', '0.271', '0.275', '0.276', '0.28', '0.285', '0.298', '0.3', '0.322', '0.33', '0.331', '0.332', '0.348', '0.354', '0.359', '0.37', '0.372', '0.375', '0.419', '0.498', '0.566']

In [51]:
print(sorted(df['perceptions_of_corruption'].dropna().unique()))

['0.0', '0.004', '0.005', '0.006', '0.01', '0.014', '0.016', '0.02', '0.022', '0.023', '0.024', '0.025', '0.027', '0.028', '0.03', '0.031', '0.033', '0.034', '0.035', '0.036', '0.037', '0.038', '0.039', '0.04', '0.041', '0.042', '0.045', '0.047', '0.05', '0.052', '0.053', '0.054', '0.055', '0.056', '0.057', '0.06', '0.062', '0.064', '0.066', '0.067', '0.072', '0.073', '0.074', '0.076', '0.077', '0.078', '0.079', '0.08', '0.082', '0.085', '0.086', '0.087', '0.088', '0.089', '0.09', '0.091', '0.093', '0.096', '0.097', '0.098', '0.1', '0.101', '0.102', '0.106', '0.107', '0.11', '0.113', '0.114', '0.118', '0.125', '0.127', '0.128', '0.13', '0.132', '0.135', '0.138', '0.14', '0.141', '0.142', '0.143', '0.144', '0.147', '0.15', '0.151', '0.152', '0.161', '0.162', '0.164', '0.167', '0.172', '0.18', '0.182', '0.183', '0.21', '0.226', '0.24', '0.265', '0.27', '0.278', '0.287', '0.29', '0.298', '0.308', '0.31', '0.316', '0.341', '0.343', '0.373', '0.38', '0.393', '0.41', '0.411', '0.453']

In [60]:

print(sorted(df2['Judical Effectiveness'].dropna().unique()))

[np.float64(5.0), np.float64(10.0), np.float64(12.3), np.float64(13.1), np.float64(18.1), np.float64(18.7), np.float64(20.2), np.float64(22.2), np.float64(23.8), np.float64(24.4), np.float64(24.6), np.float64(24.8), np.float64(25.3), np.float64(26.6), np.float64(27.6), np.float64(27.9), np.float64(29.1), np.float64(29.6), np.float64(29.8), np.float64(30.0), np.float64(30.1), np.float64(30.6), np.float64(30.7), np.float64(31.0), np.float64(31.3), np.float64(31.5), np.float64(32.3), np.float64(32.6), np.float64(32.8), np.float64(33.4), np.float64(34.0), np.float64(34.3), np.float64(34.5), np.float64(34.7), np.float64(34.9), np.float64(35.2), np.float64(35.6), np.float64(36.2), np.float64(36.4), np.float64(37.2), np.float64(37.5), np.float64(37.9), np.float64(38.5), np.float64(39.0), np.float64(39.3), np.float64(39.4), np.float64(40.1), np.float64(40.2), np.float64(40.3), np.float64(40.4), np.float64(40.6), np.float64(40.9), np.float64(41.3), np.float64(41.4), np.float64(41.9), np.float64(42.5), np.float64(42.7), np.float64(42.9), np.float64(43.3), np.float64(44.0), np.float64(44.2), np.float64(44.5), np.float64(44.8), np.float64(45.1), np.float64(45.2), np.float64(45.7), np.float64(45.9), np.float64(46.3), np.float64(46.5), np.float64(46.9), np.float64(47.1), np.float64(47.6), np.float64(47.8), np.float64(48.1), np.float64(48.3), np.float64(48.4), np.float64(49.0), np.float64(49.2), np.float64(49.5), np.float64(49.8), np.float64(50.4), np.float64(50.7), np.float64(51.4), np.float64(51.6), np.float64(51.7), np.float64(51.8), np.float64(51.9), np.float64(52.1), np.float64(52.6), np.float64(53.1), np.float64(53.5), np.float64(54.0), np.float64(54.6), np.float64(54.7), np.float64(55.4), np.float64(56.0), np.float64(56.1), np.float64(56.3), np.float64(57.5), np.float64(58.9), np.float64(59.9), np.float64(60.0), np.float64(60.7), np.float64(61.2), np.float64(61.6), np.float64(62.1), np.float64(62.7), np.float64(63.8), np.float64(64.3), np.float64(66.1), np.float64(68.2), np.float64(68.4), np.float64(68.5), np.float64(69.4), np.float64(70.1), np.float64(71.3), np.float64(72.4), np.float64(73.4), np.float64(74.7), np.float64(75.2), np.float64(75.3), np.float64(75.4), np.float64(76.0), np.float64(77.8), np.float64(78.6), np.float64(81.2), np.float64(82.0), np.float64(83.2), np.float64(83.5), np.float64(84.0), np.float64(85.9), np.float64(86.5), np.float64(87.1), np.float64(92.4)]

In [61]:
print(sorted(df2['Business Freedom'].dropna().unique()))

[np.float64(5.0), np.float64(17.7), np.float64(20.0), np.float64(24.2), np.float64(28.1), np.float64(29.9), np.float64(30.0), np.float64(31.7), np.float64(33.4), np.float64(33.9), np.float64(35.9), np.float64(36.2), np.float64(37.6), np.float64(38.2), np.float64(40.2), np.float64(41.7), np.float64(41.9), np.float64(44.4), np.float64(44.9), np.float64(45.1), np.float64(46.3), np.float64(46.6), np.float64(47.3), np.float64(47.9), np.float64(48.3), np.float64(48.6), np.float64(49.2), np.float64(49.6), np.float64(49.7), np.float64(50.3), np.float64(50.4), np.float64(50.6), np.float64(50.9), np.float64(51.2), np.float64(51.6), np.float64(51.9), np.float64(52.1), np.float64(52.4), np.float64(52.8), np.float64(53.2), np.float64(53.3), np.float64(53.6), np.float64(53.8), np.float64(54.0), np.float64(54.1), np.float64(54.4), np.float64(54.6), np.float64(54.7), np.float64(55.7), np.float64(55.8), np.float64(56.0), np.float64(56.1), np.float64(56.2), np.float64(56.3), np.float64(56.4), np.float64(56.5), np.float64(56.9), np.float64(57.1), np.float64(57.2), np.float64(57.4), np.float64(57.9), np.float64(58.8), np.float64(59.2), np.float64(59.3), np.float64(60.0), np.float64(60.1), np.float64(60.5), np.float64(60.7), np.float64(61.0), np.float64(61.1), np.float64(61.3), np.float64(61.5), np.float64(61.6), np.float64(61.8), np.float64(61.9), np.float64(62.2), np.float64(62.4), np.float64(62.7), np.float64(63.0), np.float64(63.1), np.float64(63.3), np.float64(63.5), np.float64(64.3), np.float64(65.1), np.float64(65.2), np.float64(65.4), np.float64(65.8), np.float64(65.9), np.float64(66.0), np.float64(66.1), np.float64(66.8), np.float64(67.0), np.float64(67.1), np.float64(67.2), np.float64(67.3), np.float64(67.8), np.float64(68.5), np.float64(68.6), np.float64(68.7), np.float64(68.8), np.float64(69.3), np.float64(69.5), np.float64(69.8), np.float64(70.3), np.float64(70.7), np.float64(71.1), np.float64(71.2), np.float64(71.4), np.float64(71.7), np.float64(72.3), np.float64(72.4), np.float64(72.5), np.float64(72.9), np.float64(73.3), np.float64(73.4), np.float64(73.6), np.float64(73.8), np.float64(73.9), np.float64(74.1), np.float64(74.3), np.float64(74.9), np.float64(75.0), np.float64(75.1), np.float64(75.2), np.float64(75.3), np.float64(75.4), np.float64(76.3), np.float64(76.5), np.float64(76.6), np.float64(76.7), np.float64(76.9), np.float64(77.0), np.float64(77.5), np.float64(78.0), np.float64(78.1), np.float64(78.3), np.float64(78.4), np.float64(79.3), np.float64(79.7), np.float64(79.8), np.float64(79.9), np.float64(80.2), np.float64(80.5), np.float64(81.2), np.float64(81.4), np.float64(81.9), np.float64(82.5), np.float64(83.1), np.float64(83.3), np.float64(83.8), np.float64(83.9), np.float64(85.8), np.float64(88.0), np.float64(88.3), np.float64(88.4), np.float64(89.4), np.float64(90.7), np.float64(90.8), np.float64(91.0), np.float64(91.3), np.float64(92.9), np.float64(93.2), np.float64(96.4)]

In [62]:
print(sorted(df2['Labor Freedom'].dropna().unique()))

[np.float64(5.0), np.float64(20.0), np.float64(28.0), np.float64(29.2), np.float64(29.3), np.float64(32.0), np.float64(32.7), np.float64(33.1), np.float64(35.8), np.float64(38.3), np.float64(39.0), np.float64(39.4), np.float64(40.1), np.float64(41.8), np.float64(41.9), np.float64(42.0), np.float64(42.7), np.float64(43.2), np.float64(43.3), np.float64(43.4), np.float64(44.0), np.float64(44.3), np.float64(44.6), np.float64(45.2), np.float64(45.9), np.float64(46.0), np.float64(46.5), np.float64(46.7), np.float64(46.9), np.float64(47.8), np.float64(47.9), np.float64(48.2), np.float64(48.7), np.float64(49.2), np.float64(49.3), np.float64(49.8), np.float64(49.9), np.float64(50.0), np.float64(50.3), np.float64(50.7), np.float64(51.1), np.float64(51.3), np.float64(51.5), np.float64(51.6), np.float64(51.9), np.float64(52.2), np.float64(52.3), np.float64(52.5), np.float64(52.7), np.float64(52.8), np.float64(52.9), np.float64(53.0), np.float64(53.1), np.float64(53.4), np.float64(53.7), np.float64(53.8), np.float64(53.9), np.float64(54.8), np.float64(54.9), np.float64(55.2), np.float64(55.7), np.float64(55.8), np.float64(57.2), np.float64(57.3), np.float64(57.4), np.float64(57.6), np.float64(57.8), np.float64(57.9), np.float64(58.0), np.float64(58.2), np.float64(58.6), np.float64(58.7), np.float64(58.8), np.float64(59.0), np.float64(59.1), np.float64(59.5), np.float64(59.9), np.float64(60.1), np.float64(60.3), np.float64(60.4), np.float64(60.8), np.float64(60.9), np.float64(61.0), np.float64(61.2), np.float64(61.3), np.float64(61.7), np.float64(62.0), np.float64(62.6), np.float64(62.8), np.float64(63.0), np.float64(63.2), np.float64(63.3), np.float64(63.4), np.float64(63.5), np.float64(63.6), np.float64(63.9), np.float64(64.0), np.float64(64.1), np.float64(64.2), np.float64(64.5), np.float64(64.7), np.float64(64.9), np.float64(65.0), np.float64(65.1), np.float64(65.7), np.float64(65.9), np.float64(66.2), np.float64(67.0), np.float64(67.4), np.float64(67.5), np.float64(68.2), np.float64(68.4), np.float64(68.7), np.float64(69.2), np.float64(69.9), np.float64(70.0), np.float64(70.8), np.float64(71.1), np.float64(71.4), np.float64(71.5), np.float64(71.9), np.float64(72.0), np.float64(72.5), np.float64(72.6), np.float64(72.9), np.float64(73.3), np.float64(73.4), np.float64(73.5), np.float64(73.6), np.float64(73.7), np.float64(74.4), np.float64(75.0), np.float64(75.3), np.float64(75.6), np.float64(76.6), np.float64(78.1), np.float64(78.2), np.float64(78.5), np.float64(79.0), np.float64(79.5), np.float64(79.8), np.float64(81.1), np.float64(82.2), np.float64(83.2), np.float64(83.3), np.float64(84.1), np.float64(85.1), np.float64(86.2), np.float64(86.4), np.float64(86.7), np.float64(89.2), np.float64(89.4), np.float64(90.8), np.float64(91.0)]

In [63]:
print(sorted(df2['Monetary Freedom'].dropna().unique()))

[np.float64(0.0), np.float64(48.3), np.float64(49.1), np.float64(52.8), np.float64(55.4), np.float64(56.0), np.float64(56.9), np.float64(58.6), np.float64(58.9), np.float64(60.1), np.float64(60.2), np.float64(60.8), np.float64(61.0), np.float64(61.5), np.float64(62.2), np.float64(62.3), np.float64(62.4), np.float64(63.0), np.float64(65.0), np.float64(65.1), np.float64(65.4), np.float64(65.5), np.float64(65.6), np.float64(66.3), np.float64(66.4), np.float64(66.5), np.float64(67.0), np.float64(68.5), np.float64(68.8), np.float64(68.9), np.float64(69.4), np.float64(69.6), np.float64(69.9), np.float64(70.0), np.float64(70.1), np.float64(70.3), np.float64(70.4), np.float64(70.5), np.float64(70.6), np.float64(70.9), np.float64(71.9), np.float64(72.3), np.float64(72.4), np.float64(72.6), np.float64(72.7), np.float64(72.8), np.float64(72.9), np.float64(73.0), np.float64(73.4), np.float64(73.5), np.float64(73.7), np.float64(74.2), np.float64(74.4), np.float64(74.9), np.float64(75.0), np.float64(75.1), np.float64(75.2), np.float64(75.4), np.float64(75.5), np.float64(75.6), np.float64(75.9), np.float64(76.0), np.float64(76.1), np.float64(76.5), np.float64(76.6), np.float64(76.7), np.float64(76.9), np.float64(77.0), np.float64(77.2), np.float64(77.4), np.float64(77.7), np.float64(77.8), np.float64(77.9), np.float64(78.1), np.float64(78.2), np.float64(78.3), np.float64(78.4), np.float64(78.5), np.float64(78.6), np.float64(78.7), np.float64(78.8), np.float64(79.0), np.float64(79.1), np.float64(79.4), np.float64(79.5), np.float64(79.6), np.float64(79.7), np.float64(80.0), np.float64(80.1), np.float64(80.9), np.float64(81.0), np.float64(81.1), np.float64(81.2), np.float64(81.4), np.float64(81.5), np.float64(81.6), np.float64(81.7), np.float64(81.8), np.float64(82.0), np.float64(82.1), np.float64(82.2), np.float64(82.3), np.float64(82.6), np.float64(82.7), np.float64(82.8), np.float64(83.0), np.float64(83.1), np.float64(83.2), np.float64(83.5), np.float64(83.6), np.float64(83.7), np.float64(83.9), np.float64(84.0), np.float64(84.1), np.float64(84.4), np.float64(84.5), np.float64(84.6), np.float64(84.8), np.float64(85.0), np.float64(85.2), np.float64(85.3), np.float64(85.7), np.float64(85.8), np.float64(85.9), np.float64(86.0), np.float64(86.2), np.float64(86.4), np.float64(86.6), np.float64(87.0), np.float64(87.5), np.float64(88.0)]

In [64]:
print(sorted(df2['Trade Freedom'].dropna().unique()))

[np.float64(0.0), np.float64(45.0), np.float64(47.0), np.float64(47.2), np.float64(47.8), np.float64(48.8), np.float64(50.4), np.float64(51.0), np.float64(51.2), np.float64(53.2), np.float64(53.4), np.float64(54.6), np.float64(55.6), np.float64(56.6), np.float64(56.8), np.float64(60.0), np.float64(60.1), np.float64(60.4), np.float64(60.8), np.float64(61.2), np.float64(61.6), np.float64(61.8), np.float64(62.4), np.float64(62.6), np.float64(62.8), np.float64(63.2), np.float64(63.4), np.float64(63.6), np.float64(63.8), np.float64(64.0), np.float64(64.2), np.float64(64.4), np.float64(64.6), np.float64(64.8), np.float64(65.2), np.float64(65.4), np.float64(65.8), np.float64(66.0), np.float64(66.4), np.float64(66.6), np.float64(66.8), np.float64(67.4), np.float64(67.8), np.float64(68.2), np.float64(68.4), np.float64(69.0), np.float64(69.2), np.float64(69.4), np.float64(69.8), np.float64(70.0), np.float64(70.4), np.float64(70.8), np.float64(71.4), np.float64(71.8), np.float64(72.0), np.float64(72.4), np.float64(72.6), np.float64(73.0), np.float64(73.2), np.float64(73.6), np.float64(74.6), np.float64(75.0), np.float64(75.4), np.float64(75.8), np.float64(76.0), np.float64(76.2), np.float64(76.4), np.float64(76.6), np.float64(77.0), np.float64(77.4), np.float64(77.8), np.float64(78.0), np.float64(78.2), np.float64(78.6), np.float64(79.0), np.float64(79.2), np.float64(79.4), np.float64(79.6), np.float64(79.8), np.float64(80.0), np.float64(80.4), np.float64(80.6), np.float64(80.8), np.float64(80.9), np.float64(81.0), np.float64(81.4), np.float64(81.8), np.float64(82.0), np.float64(82.2), np.float64(82.6), np.float64(83.0), np.float64(83.2), np.float64(83.8), np.float64(84.0), np.float64(84.4), np.float64(84.7), np.float64(86.0), np.float64(86.4), np.float64(86.6), np.float64(86.8), np.float64(87.0), np.float64(87.4), np.float64(87.6), np.float64(87.8), np.float64(88.4), np.float64(88.6), np.float64(88.8), np.float64(90.0), np.float64(92.4), np.float64(94.8), np.float64(95.0)]

In [65]:
print(sorted(df2['Investment Freedom '].dropna().unique()))

[np.float64(0.0), np.float64(5.0), np.float64(10.0), np.float64(15.0), np.float64(20.0), np.float64(25.0), np.float64(30.0), np.float64(35.0), np.float64(40.0), np.float64(45.0), np.float64(50.0), np.float64(55.0), np.float64(60.0), np.float64(65.0), np.float64(70.0), np.float64(75.0), np.float64(80.0), np.float64(85.0), np.float64(90.0), np.float64(95.0)]

In [66]:
print(sorted(df2['Financial Freedom'].dropna().unique()))

[np.float64(0.0), np.float64(10.0), np.float64(20.0), np.float64(30.0), np.float64(40.0), np.float64(50.0), np.float64(60.0), np.float64(70.0), np.float64(80.0), np.float64(90.0)]

In [67]:
print(sorted(df2['Corporate Tax Rate (%)'].dropna().unique()))

[np.float64(0.0), np.float64(2.5), np.float64(7.5), np.float64(8.0), np.float64(9.0), np.float64(10.0), np.float64(12.0), np.float64(12.5), np.float64(15.0), np.float64(15.8), np.float64(16.0), np.float64(16.5), np.float64(17.0), np.float64(18.0), np.float64(18.5), np.float64(19.0), np.float64(20.0), np.float64(21.0), np.float64(22.0), np.float64(23.0), np.float64(23.5), np.float64(23.9), np.float64(24.0), np.float64(25.0), np.float64(27.0), np.float64(27.5), np.float64(28.0), np.float64(29.0), np.float64(30.0), np.float64(31.0), np.float64(32.0), np.float64(32.4), np.float64(33.0), np.float64(34.0), np.float64(35.0), np.float64(36.0), np.float64(39.0), np.float64(40.0), np.float64(45.0), np.float64(50.0)]

In [68]:
print(sorted(df2['Population (Millions)'].dropna().unique()))

['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '0.9', '1.0', '1.1', '1.2', '1.3', '1.4', '1.5', '1.7', '1.9', '10.1', '10.2', '10.3', '10.6', '10.8', '10.9', '105.3', '11.0', '11.1', '11.4', '11.5', '11.8', '12.2', '123.5', '126.7', '13.0', '1316.9', '1390.1', '14.3', '14.9', '144.0', '15.9', '16.0', '16.8', '16.9', '163.2', '17.1', '17.2', '18.2', '18.4', '18.8', '18.9', '188.7', '19.2', '19.6', '197.3', '2.0', '2.1', '2.2', '2.3', '2.7', '2.8', '2.9', '207.7', '21.4', '23.6', '24.3', '24.8', '25.0', '25.4', '25.6', '262.0', '28.2', '28.3', '29.3', '29.5', '3.0', '3.1', '3.5', '3.7', '3.9', '30.0', '31.4', '31.8', '32.1', '32.4', '325.9', '34.9', '35.5', '36.7', '37.7', '38,000 ppl.', '38.0', '38.9', '4.1', '4.3', '4.4', '4.5', '4.7', '4.8', '40.8', '41.5', '42.3', '44.1', '46.3', '46.7', '49.3', '5.0', '5.3', '5.4', '5.5', '5.6', '5.7', '5.9', '50.0', '51.5', '52.6', '56.5', '6.2', '6.3', '6.4', '6.7', '60.6', '64.8', '66.1', '69.1', '7.0', '7.1', '7.4', '7.8', '8.3', '8.4', '8.7', '8.8', '80.8', '81.4', '82.7', '86.7', '9.5', '9.8', '92.7', '93.6', '94.8']

In [13]:
df['country_or_region'].head()

0        Finland
1        Denmark
2         Norway
3        Iceland
4    Netherlands
Name: country_or_region, dtype: object

In [14]:
df['country_or_region'].tail()

151                      Rwanda
152                    Tanzania
153                 Afghanistan
154    Central African Republic
155                 South Sudan
Name: country_or_region, dtype: object